.pref{
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 36px 148px 44px 117px;
	background-color: #fff; 

	&-top{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 90px;

		&-step{
			color: #A4AEB4;
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 600;
			margin-top: 5px;
			line-height: 24px;
			letter-spacing: 0.02em;
		}

		&-lost{
			margin-top: 5px;
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.02em;
			color: #A4AEB4;
		}

		&-help{
			margin-top: 5px;
			text-decoration: none;
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.02em;
			color: #2696E8;
		}
	}

	&-content{

		&-titles{
			display: flex;
			flex-direction: column;
			margin-right:58px;

			&-main{
				font-family: Montserrat Alternates;
				font-size: 28px;
				font-weight: 800;
				line-height: 36px;
				letter-spacing: 0.02em;
				margin: 0;
			}

			&-text{
				font-family: Montserrat;
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: 0.02em;
				color: #A4AEB4;
				margin: 12px 0 0;
			}
		}

		&-main{
			width: 100%;
			margin-top: 46px;
			display: flex;
			flex-wrap: wrap;

			&-title{
				width: 100%;
				margin: 0 0 20px 0; 
				font-family: Montserrat Alternates;
				font-size: 21px;
				font-weight: 700;
				line-height: 28px;
				letter-spacing: 0px;
			}

			&-item {
				cursor: pointer;
				width: 136px;
				height: 148px;
				border: 1.5px solid;
				border-radius: 4px;
				position: relative;
				padding: 16px;
				margin: 0 20px 20px 0;

				&-icon{
					width: 16px;
					height: 16px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 2px;

					&-active{
						background-color: #35A0EE;
					}

					&-ordinary{
						border: 1.5px solid #DDDDDD;
					}
				}

				&-active{
					color:#35A0EE;
					background: #F6FBFF;
					border-color: #35A0EE;
				}

				&-ordinary{
					color:#031106;
					background: #fff;
					border-color: #D5D9DC;
				}


				&-text{
					width: 80%;
					position: absolute;
					bottom: 16px;
					font-family: Montserrat;
					font-size: 14px;
					font-weight: 500;
					line-height: 20px;
					letter-spacing: 0.02em;

				}

			}
		}	
	}

	&-bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 93px;

		&-link{
			color: #35A0EE;
			text-decoration: none;
			font-family: Montserrat;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.02em;
		}

		&-buttons{
			display: flex;
			justify-content: space-between;

			&-skip{
				margin-right: 16px;
				padding: 12px 24px;
				background: rgba(53, 160, 238, 0.1);
				border-radius: 4px;
				cursor: pointer;

				font-family: Montserrat;
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0.02em;
				color: #35A0EE;
			}

			&-next{
				text-decoration: none;
				padding: 12px 24px;
				background: #35A0EE;
				border-radius: 4px;
				cursor: pointer;

				font-family: Montserrat;
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0.02em;
				color: #fff;
			}
		}
	}
}